<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${mapperPackage}.${upClassName}${mapperPackageFileSuffix}">

    <resultMap id="BaseResultMap" type="${entityPackage}.${upClassName}${entityPackageFileSuffix}">
        #foreach($resultMapColumn in $resultMapColumns)
        $resultMapColumn
#end
    </resultMap>

    <sql id="Table_Name">
        ${tableName}
    </sql>

    <sql id="Base_Column_List">
        ${fields}
    </sql>

    <sql id="Query_Where_Column_List">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            #foreach($whereCondition in $whereConditions)
            $whereCondition
#end
        </trim>
    </sql>

    <sql id="PrimaryKeyQuery_Where_Column_List">
        WHERE ${columnPrimaryKey} = #{${normalPrimaryKey}}
    </sql>

    <sql id="Order_Column_List">

    </sql>

    <sql id="Query_Page_Limit">

    </sql>

    <insert id="insertSelective"
            parameterType="${entityPackage}.${upClassName}${entityPackageFileSuffix}"
            useGeneratedKeys="true" keyProperty="${normalPrimaryKey}">
        INSERT INTO
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($insertColsCondition in $insertColsConditions)
            $insertColsCondition
#end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($insertValueCondition in $insertValueConditions)
            $insertValueCondition
#end
        </trim>
    </insert>

    <insert id="batchInsert"
            useGeneratedKeys="true" keyProperty="${normalPrimaryKey}">
        INSERT INTO
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($insertColsCondition in $batchInsertColsConditions)
            $insertColsCondition
#end
        </trim>
        values
        <foreach collection="list" item="item" separator="," >
            (
            #foreach($insertValueCondition in $batchInsertValueConditions)
            $insertValueCondition
#end
            )
        </foreach>

    </insert>


    <update id="updateByPrimaryKeySelective"
            parameterType="${entityPackage}.${upClassName}${entityPackageFileSuffix}">
        UPDATE
        <include refid="Table_Name"/>
        <set>
            #foreach($updateCondition in $updateConditions)
            $updateCondition
#end
        </set>
        <include refid="PrimaryKeyQuery_Where_Column_List"/>
    </update>

    <select id="queryByPrimaryKey" resultMap="BaseResultMap">
        select * from
        <include refid="Table_Name"/>
        <include refid="PrimaryKeyQuery_Where_Column_List"/>
    </select>

    <delete id="deleteByPrimaryKey">
        delete from
        <include refid="Table_Name"/>
        <include refid="PrimaryKeyQuery_Where_Column_List"/>
    </delete>

    <select id="selectByPrimaryKeySelective" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        <include refid="PrimaryKeyQuery_Where_Column_List"/>
    </select>

    <select id="queryList" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        <include refid="Query_Where_Column_List"/>
        <include refid="Order_Column_List"/>
    </select>



    <select id="queryPage" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        <include refid="Query_Where_Column_List"/>
        <include refid="Order_Column_List"/>
    </select>

    <select id="countSelective" resultType="java.lang.Integer"
            parameterType="${entityPackage}.${upClassName}${entityPackageFileSuffix}">
        SELECT
        COUNT(*)
        FROM
        <include refid="Table_Name"/>
        <include refid="Query_Where_Column_List"/>
    </select>

    <delete id="deleteByPrimaryKeySelective"
            parameterType="${entityPackage}.${upClassName}${entityPackageFileSuffix}">
        DELETE FROM
        <include refid="Table_Name"/>
        <include refid="PrimaryKeyQuery_Where_Column_List"/>
    </delete>

</mapper>