package ${mapperPackage};

import java.util.List;

import ${modelPackage}.${upClassName}${modelPackageFileSuffix};
import org.springframework.stereotype.Repository;

${classTitle}
@Repository
public interface ${upClassName}${mapperPackageFileSuffix} {

Integer insertSelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

Integer batchInsert(List<${upClassName}${modelPackageFileSuffix}> list);

Integer updateByPrimaryKeySelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

${upClassName}${modelPackageFileSuffix} selectByPrimaryKeySelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

List<${upClassName}${modelPackageFileSuffix}> queryList(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

List<${upClassName}${modelPackageFileSuffix}> listPageSelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

Integer countSelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});

Integer deleteByPrimaryKeySelective(${upClassName}${modelPackageFileSuffix} ${lowClassName}${modelPackageFileSuffix});


}
