package ${entityPackage};

#foreach($ims in $importSets)
    ${ims}
#end
import lombok.Data;
import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiModel;

${classTitle}
${classAnnotation}
@Data
public class ${upClassName}${resPackageFileSuffix} implements Serializable {

private static final long serialVersionUID = ${SerialVersionUID}L;

#foreach($field in $fields)
    ${field}
#end
#*#foreach($method in $methods)
    ${method}
#end*#
}
