package ${servicePackage};

import ${resultPackage}.Result;
import ${entityPackage}.${upClassName}${entityPackageFileSuffix};

${classTitle}
public interface ${upClassName}Service {

Result add${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result update${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result findDetail${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result list${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result list${upClassName}Page(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result count${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;

Result delete${upClassName}(${upClassName}${entityPackageFileSuffix} ${lowClassName}${entityPackageFileSuffix}) throws Exception;
}